/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/img/nota_fiscal_img_upload_user
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

